*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Nunito', sans-serif;
}

header{
  width:100%;
  background-color: #f4f9fd;
  border-bottom: 1px solid #7a8b97;
  height:50px;
}

.left > *{
  float:left;
  margin:25px 10px 50% 0;
  transform: translateY(-50%);
}

button{
  border-radius: 5px;
}


.empty{
  padding:5px;
  background-color:#fafcfe;
  color:#fe775a;
  border: solid 1px #fe775a;
}
.full{
  padding:6px;
  border-style: none;
  background-color: #fe775a;
  color:#fafcfe;
}
.icon{
  width:10px;
  height:10px;
}

.head{
width:80%;
margin:auto;
font-size: 10px;
color:#33475b;
}

.right > *{
  float:right;
  margin:25px 10px 50% 0;
  transform: translateY(-50%);
}



.clearfix::after{
  content:"";
  display:table;
  clear:both;
}
